
@use './mixins/mixins.scss';
@use './variables/color.scss';
@use './responsive/headerr.scss';


html, body{
    width: 100%;
}

body {
    font-family: 'Manrope', 'Verdana';
}

.container {
    width: 100%;
}

.landing-section {
    width: 100%;
    height: 754px;
    background-image:  url('./assets/rectangle-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    header {
        display: flex;
        justify-content: flex-end;
        padding-top: 35px;
        padding-right: 122px;
        gap: 40px;

        nav {
            display: flex;
            align-items: center;
        }

            ul {
                display: flex;
                @include mixins.font-header();
                color: color.$color-black;
                gap: 40px;
            }

        .contact-btn {
            // all: unset;
            @include mixins.font-header();
            width: 91px;
            height: 40px;
            border-radius: 5px;
            border-style: none;
            background-color: color.$color-red;
            color: color.$color-white;
            padding: 10px 20px;
            gap: 10px;
            transition: box-shadow .3s ease;
            font-family: inherit;
            
            &:hover {
                @include mixins.btn-shadow();
            }
        }

    }

    div.mailing-info {
        position: absolute;
        width: 665px;
        height: 406px;
        top: 200px;
        left: 122px;    
        border-radius: 8px;

        h1 {
            @include mixins.font-h1();
            color: color.$color-black;
        }

        p {
            font-weight: 400;    
            font-size: 20px;    
            line-height: 36px;    
            letter-spacing: 0.2px;    
            color: color.$color-black;
            top: 20px;
            position: relative;
        }


        .mailing {
            position: relative;
            top: 50px;
            width: 502px;

            input {
                width: 502px;            
                height: 73px;                                  
                border-radius: 8px;
                border: none;
                background-color: color.$color-white;
                @include mixins.input-font();
                // padding-left: 32px; ////////////////////////
            }

            button {
            position: absolute;
            width: 136px;
            height: 61px;
            border-radius: 8px;
            background-color: color.$color-red;
            border: none;
            color: color.$color-white;
            @include mixins.mail-btn-font();
            right: 6px;
            top: 6px;
            font-family: inherit;
            }

        }
        
    }
    
}

.main-section {
    width: 100%;
    height: 793px;
    position: relative;
    top: 120px;

    h2 {
        position: relative;
        width: 428px;
        height: 56px;
        @include mixins.center-row();
        @include mixins.font-h2();
    }

    p {
        position: relative;
        width: 994px;
        height: 109px;
        top: 30px;
        @include mixins.center-row();
        @include mixins.font-p();
        text-align: center;
    }

    .flex-container {
        // display: grid;
        display: flex;
        flex-wrap: wrap;
        // flex: 1 1 300px;
        position: relative;
        height: 508px;
        // grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        top: 90px;
        gap: 20px;
        padding-left: 143px;
        padding-right: 144px;
        justify-content: space-between;

        .flex-item {
            // display: flex;
            flex: 1 1 calc(33% - 10px);
            max-width: 316px;
            // @include mixins.center-row();
            color: color.$color-black;

            #center-icon {
                display: flex;
                position: relative;
                // @include mixins.center-row();
                justify-self: center;
                width: 76px;
                height: 76px;
            }
            
            .item-circle {
                display: flex;
                position: absolute;
                justify-self: center;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                // left: 34px;
                // bottom: 32px;
            }

            h3 {
                @include mixins.font-h3();
                margin-top: 10px;
            }

            p {
                width: 298px;
                height: 84px;
                @include mixins.font-paragraph();
            }

// This changes the color and alignment of each item-circle

            .item-circle-01 {
                background-color: #FF5391;
                left: 288px;
                top: 1px;
            }

            .item-circle-02 {
                background-color: #7553FF;
                top: 7px;
                left: 672px;
            }

            .item-circle-03 {
                background-color: #53C1FF;
                top: 7px;
                right: 250px;
            }

            .item-circle-04 {
                background-color: #53ACFF;
                top: 5 px;
                left: 253 px;
            }

            .item-circle-05 {
                background-color: #FF5353;
                // top: 218px; 
                // left: 715px;
            }

            .item-circle-06 {
                background-color: #FFBA53;
                right: 272px;
            }

        }

        // :nth-child(1) {
        //     :nth-child(1) {
        //         left: 288px;
        //         top: 1px;
        //     }
        // }

        // :nth-child(2) {
        //     :nth-child(1) {
        //         left: 529px;
        //         top: 7px;
        //     }
        // }

    }

}

.third-section {
    width: 100%;
    height: 376px;
    position: relative;
    top: 140px;
    background-color: color.$color-red;

    .bg-image {
        position: absolute;
        width: 100%;
        height: 376px;
        background-image: url('./assets/image-1.svg'); opacity: 0.4;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .heading-h2 {
        @include mixins.font-heading-h2();
        color: color.$color-white;
        top: 85px;
        position: relative;
    }

    .lead {
        @include mixins.font-lead();
        color: color.$color-white;
        top: 95px;
        position: relative;
    }


    // .list2 {
    //     display: flex;
    //     flex-wrap: wrap;
    //     @include mixins.font-lead(700);
    //     color: color.$color-white;
    //     padding-left: 12.5%;
    //     padding-right: 12.5%;
    //     justify-content: space-between;
    //     position: relative;
    //     // padding-bottom: 85px;

    //     // ?????????????????????????????????????
    //     height: 280px;
    //     align-items: end;
    //     bottom: 60px;
    // }

    .bottom-text {
        position: relative;
        @include mixins.center-row();
        width: 90%;
        height: 53px;
        top: 160px;

        .list-items2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include mixins.font-lead(700);
            text-align: left;
            color: color.$color-white;
        }

        // .icons {
        //     display: flex;
        //     position: absolute;
        //     justify-content: space-around;
        //     align-items: center;
        // }

    }

}









