@mixin font-header() {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

@mixin btn-shadow() {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@mixin font-h1() {
    font-weight: 800;
    font-size: 64px;
    line-height: 82px;
    letter-spacing: 0;
}

@mixin input-font() {
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 0.4) ;
}

@mixin mail-btn-font() {
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.2px;
}

@mixin font-h2() {
    font-weight: 800;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
}

@mixin center-row() {
    left: 50%;
    transform: translateX(-50%);
}

@mixin font-p() {
    font-weight: 400;
    font-size: 24px;
    line-height: 39.5px;
    letter-spacing: 0.2px;
}